<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="txtuser" value="babu123456"></parameter>
  <parameter name="txtpass" value="Babu1234"></parameter>
   <parameter name="FirstName" value="Babu"></parameter>
    <parameter name="LastName" value="Babu1234"></parameter>
     <parameter name="Add" value="Chennai"></parameter>
      <parameter name="CCno" value="1234567898765432"></parameter>
		<parameter name="cc" value="123"></parameter>  
  <classes>
  <class name="org.trest.A">
  </class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
